{% extends 'adminlte/base.html' %}
{% load static %}
{% load table_tags %}


{% block title %} Administracao {% endblock %}

{% block content %}

    <div class="row">
        <div class="col">

        </div>
        <a href="{% url 'person_new' %}" class="btn btn-primary"> Novo cliente</a>
        <div class="col-6">
            <h3>Listagem de clientes</h3>
            {% render_table persons %}
            <br> 
        </div>

        <div class="col">
            {% if user.is_authenticated %}
                <p>Ola {{user.username }}
                    <a href="{% url 'logout' %}">
                        <span class="badge badge-dark">Sair</span>
                    </a>
                </p>

            {% endif %}
        </div>
    </div>


{% endblock %}

